<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Title</title>
    <link href="lib/ionic/css/ionic.min.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.min.js"></script>
    <script>
        var myapp = angular.module("myapp",[]);// 创建主模块
        // 注册控制器
        myapp.controller("myCtrl",function($scope){
            // 准备数据
            var starArr = [
                {value:1,icon:"ion-ios-star-outline"},
                {value:2,icon:"ion-ios-star-outline"},
                {value:3,icon:"ion-ios-star-outline"},  // val: 3   index: 2
                {value:4,icon:"ion-ios-star-outline"},
                {value:5,icon:"ion-ios-star-outline"}
            ];
            $scope.stars = [
                {id:1,content:angular.copy(starArr)},
                {id:2,content:angular.copy(starArr)}
            ];
            // 响应click事件
            $scope.setRating = function(id,val){
                var stars = $scope.stars;
                
                // 遍历stars数组，设置每一个元素的icon
                angular.forEach(stars,function(item){
                    if(item.id == id){
                        angular.forEach(item.content,function(arr,index){
                            arr.icon = index<val? "ion-ios-star":"ion-ios-star-outline";
                        });
                    }

                });
            };
        });
    </script>
</head>
<body ng-app="myapp" ng-controller="myCtrl">
<!--header-->
<div class="bar bar-header bar-assertive">
    <h1 class="title">淘宝</h1>
</div>

<!--content-->
<div class="scroll-content has-header has-footer overflow-scroll">
    <div class="card" ng-repeat="item in stars">
        <div class="item item-avatar-left">
            <img src="images/lss.jpg">
            <h3>淘宝服装</h3>
            <p>2016冬季流行新款</p>
        </div>

        <div class="item item-image">
            <img src="images/lss.jpg">
        </div>

        <div class="item">
            五星好评:
            <a href="javascript:;" style="text-decoration: none;" ng-repeat="star in item.content">
                <i class="icon {{star.icon}}" ng-click="setRating(item.id, star.value)"></i>
            </a>
        </div>
    </div>
</div>

<!--footer-->
<div class="bar bar-footer bar-assertive">
    <h1 class="title">淘宝</h1>
</div>
</body>
</html>